.profile-purchase-actions::after, .profile-purchase-actions .action-button::after, .rating-actions::after {
    position: absolute;
    content: ''
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-Italic'), local('Georgia Italic')
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-BoldItalic'), local('Georgia Bold Italic')
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'doucoin';
    src: url('https://img3.doubanio.com/f/ark/02188c4d0d6163cc8134121eb83ca603ec1c3772/pics/iconic/doucoin.woff') format('woff'), url('https://img3.doubanio.com/f/ark/d17548bdbd9e34caae4b3ecae79b3052dd442b27/pics/iconic/doucoin.ttf') format('truetype'), url('https://img3.doubanio.com/f/ark/01b5d034dc5c1f86a63d3a3cf5f37f6f6cc6e8bb/pics/iconic/doucoin.svg') format('svg')
}

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'arkicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.stars-context, .stars-active {
    display: inline-block;
    overflow: hidden;
    width: 73px;
    height: 13px;
    background: url('https://img3.doubanio.com/f/ark/d77e4fb55f64b99f5b7f095aa263f0357e17003d/pics/app/stars.svg') no-repeat;
    text-indent: 0;
    font-size: 13px;
    line-height: 1
}

.stars-context {
    vertical-align: -1px;
    text-align: left
}

.stars-context.small-stars {
    transform: scale(.7692307692307693);
    transform-origin: left
}

.stars-active {
    background-position: 0 -17px
}

.stars- .stars-active, .stars-0 .stars-active, .stars-null .stars-active {
    display: none
}

.stars-05 .stars-active {
    width: 7px
}

.stars-1 .stars-active, .stars-10 .stars-active {
    width: 15px
}

.stars-15 .stars-active {
    width: 22px
}

.stars-2 .stars-active, .stars-20 .stars-active {
    width: 30px
}

.stars-25 .stars-active {
    width: 36px
}

.stars-3 .stars-active, .stars-30 .stars-active {
    width: 44px
}

.stars-35 .stars-active {
    width: 51px
}

.stars-4 .stars-active, .stars-40 .stars-active {
    width: 60px
}

.stars-45 .stars-active {
    width: 66px
}

.stars-5 .stars-active, .stars-50 .stars-active {
    width: 73px
}

.rating .score, .rating-light .score, .rating .no-rating, .rating-light .no-rating {
    margin: 0 0 0 7px
}

.rating .amount, .rating-light .amount {
    margin-left: 7px
}

.rating .score, .rating-light .score {
    color: #fa595f
}

.rating .no-rating, .rating-light .no-rating, .rating .amount, .rating-light .amount {
    color: var(--gray)
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-Italic'), local('Georgia Italic')
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-BoldItalic'), local('Georgia Bold Italic')
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'doucoin';
    src: url('https://img3.doubanio.com/f/ark/02188c4d0d6163cc8134121eb83ca603ec1c3772/pics/iconic/doucoin.woff') format('woff'), url('https://img3.doubanio.com/f/ark/d17548bdbd9e34caae4b3ecae79b3052dd442b27/pics/iconic/doucoin.ttf') format('truetype'), url('https://img3.doubanio.com/f/ark/01b5d034dc5c1f86a63d3a3cf5f37f6f6cc6e8bb/pics/iconic/doucoin.svg') format('svg')
}

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'arkicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.profile-purchase-actions::after, .profile-purchase-actions .action-button::after, .rating-actions::after {
    position: absolute;
    content: ''
}

.stars-int-context, .stars-int-context .stars-active {
    width: 60px;
    height: 10px;
    background-image: url('https://img3.doubanio.com/f/ark/7c2e49ff7aa179deaa65249e89dd09ce63f98d83/pics/mod/rating-stars.png');
    background-position: left -10px;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    line-height: 1
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .stars-int-context, .stars-int-context .stars-active {
        background-image: url('https://img3.doubanio.com/f/ark/284bd7836bd61d2cf565fb46ecd98f0f1f0ed2f4/pics/mod/rating-stars@2x.png');
        background-size: 58px 20px
    }
}

.stars-int-context {
    position: relative;
    margin-top: 3px;
    vertical-align: top;
    text-align: left;
    white-space: nowrap
}

.stars-int-context .star-region {
    width: 10px;
    height: 10px;
    position: relative;
    z-index: 10;
    margin: 0 2px 0 0;
    vertical-align: top;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.stars-int-context .stars-active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: 0 0
}

.stars-int-context.stars-int- .stars-active, .stars-int-context.stars-int-0 .stars-active, .stars-int-context.stars-int-null .stars-active {
    display: none
}

.stars-int-context.stars-int-1 .stars-active {
    width: 10px
}

.stars-int-context.stars-int-2 .stars-active {
    width: 22px
}

.stars-int-context.stars-int-3 .stars-active {
    width: 34px
}

.stars-int-context.stars-int-4 .stars-active {
    width: 46px
}

.stars-int-context.stars-int-5 .stars-active {
    width: 58px
}

#head-breadcrumb {
    overflow: hidden;
    margin-bottom: 0;
    height: 45px;
    background: var(--blue10);
    font-size: 12px;
    line-height: 45px
}

#head-breadcrumb .section-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 13px;
    padding-left: 13px
}

@media (min-width: 375px) and (max-width: 767px) {
    #head-breadcrumb .section-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #head-breadcrumb .section-container {
        padding-right: 25px;
        padding-left: 25px
    }
}

#head-breadcrumb .breadcrumbs .breadcrumb {
    color: #389eac
}

#head-breadcrumb .breadcrumbs .breadcrumb:hover {
    color: #108899
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange {
    color: #ff9e2c
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange:hover {
    color: #d96b57
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange + .division {
    background-image: url('https://img3.doubanio.com/f/ark/3a5f9e84f4201e89a09a460cd6b59040797a49b1/pics/common/icon-arrow-right-orange.svg')
}

#head-breadcrumb .breadcrumbs .breadcrumb.black {
    color: var(--grayBlack)
}

#head-breadcrumb .breadcrumbs .breadcrumb.black:hover {
    color: var(--grayBlack110)
}

#head-breadcrumb .breadcrumbs .breadcrumb.black + .division {
    background-image: url('https://img3.doubanio.com/f/ark/b829946796aab322f1d47534ea4ba74ac318eb01/pics/common/icon-arrow-right-blueblack.svg')
}

#head-breadcrumb .breadcrumbs .breadcrumb:not(:-webkit-any-link) {
    cursor: default
}

#head-breadcrumb .breadcrumbs .breadcrumb:not(:any-link) {
    cursor: default
}

#head-breadcrumb .breadcrumbs .breadcrumb .text {
    vertical-align: middle;
    line-height: 1
}

#head-breadcrumb .breadcrumbs .division {
    width: 6px;
    height: 11px;
    display: inline-block;
    margin: 0 10px;
    background: url('https://img3.doubanio.com/f/ark/7ac55e3740e9b58fb0bfd5eb5493e8f88a235ef5/pics/common/icon-arrow-right-blue60.svg') center/contain no-repeat;
    vertical-align: middle
}

.app-qr-code {
    display: flex;
    padding: 17px 14px;
    border: 1px solid var(--gray50)
}

.app-qr-code .app-download-qr-code {
    width: 99px;
    height: 99px;
    background-image: url('https://img3.doubanio.com/f/ark/ae8fa10845d314cc4059d45a78dad5ceeef4ec3e/pics/intro/qr-download.png');
    background-position: center center;
    background-repeat: no-repeat;
    flex: none
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .app-qr-code .app-download-qr-code {
        background-image: url('https://img3.doubanio.com/f/ark/5a1a7233d5c8bdd6759ec0c511866f1a591ddda3/pics/intro/qr-download@2x.png');
        background-size: 99px 99px
    }
}

.app-qr-code .info {
    flex: 1 0
}

.app-qr-code .logo {
    width: 50px;
    height: 50px;
    margin: -2px 0 0 -2px;
    background: url('https://img3.doubanio.com/f/ark/ac5636a2b003212bc0f936073556137d8b7808a8/pics/app/app-icon@2x.png') center/48px no-repeat
}

.app-qr-code .name {
    margin-top: 4px;
    padding-left: 64px;
    background: url('https://img3.doubanio.com/f/ark/e5ba4576facb8314d5164025be4204b9b0ba0aec/pics/logo/nav.svg') top 5px left -27px/auto 14px no-repeat;
    color: #389eac;
    font-weight: bold;
    font-size: 15px
}

.app-qr-code .app-text {
    margin-top: 10px;
    color: var(--grayBlack);
    font-weight: bold
}

.article-profile-section .rating {
    border-top: none
}

.article-profile-section .rating .stars-context {
    margin-left: 0
}

.my-rating .rating-comment {
    margin: 0;
    padding: 0
}

.my-rating .edit-rating-actions {
    margin: 0
}

.rating-actions a, .profile-promotion-message a, .profile-related-bundle a, .rating-actions a:hover, .profile-promotion-message a:hover, .profile-related-bundle a:hover {
    background: transparent;
    color: #5dcaad
}

.membership-promotion-bar .membership-link {
    display: flex;
    align-items: center;
    height: 30px
}

.membership-promotion-bar .icon-vip, .membership-promotion-bar .icon-vip-added {
    margin-right: 5px;
    width: 20px;
    height: 15px;
    background: url('https://img3.doubanio.com/f/ark/fd9362761d16c293fb1ad44593281af9c974faf8/pics/common/icon-vip.svg') no-repeat center/contain
}

.membership-promotion-bar .icon-vip-added {
    width: 26px;
    height: 23px;
    background-image: url('https://img3.doubanio.com/f/ark/3f566a92dbcba6f7141fc8b783137c127dcf01f9/pics/common/icon-vip-added.svg')
}

.membership-promotion-bar .promotion-text {
    flex: 1;
    color: var(--grayBlack);
    font-size: 12px;
    line-height: normal
}

.membership-promotion-bar .promotion-text:hover {
    color: var(--grayBlack110)
}

.membership-promotion-bar .icon-next {
    margin-left: 5px;
    width: 6px;
    height: 11px;
    background: url('https://img3.doubanio.com/f/ark/b829946796aab322f1d47534ea4ba74ac318eb01/pics/common/icon-arrow-right-blueblack.svg')
}

.btn {
    display: inline-block;
    border: none;
    background: #389eac;
    color: var(--white-blueBlack110-pair);
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer
}

@media (hover: hover) {
    .btn:hover {
        background: #108899;
        color: var(--white-blueBlack110-pair)
    }
}

@media (hover: none) {
    .btn:active {
        background: #108899;
        color: var(--white-blueBlack110-pair)
    }
}

.btn[disabled], .btn.disabled, .btn[data-disabled] {
    background: var(--gray50);
    color: var(--gray);
    cursor: not-allowed
}

@media (hover: hover) {
    .btn[disabled]:hover, .btn.disabled:hover, .btn[data-disabled]:hover {
        background: var(--gray50);
        color: var(--gray);
        cursor: not-allowed
    }
}

@media (hover: none) {
    .btn[disabled]:active, .btn.disabled:active, .btn[data-disabled]:active {
        background: var(--gray50);
        color: var(--gray);
        cursor: not-allowed
    }
}

.btn:not([data-size]), .btn[data-size=m] {
    padding: 0 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px
}

.btn[data-size=l] {
    box-sizing: border-box;
    padding: 0 30px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px
}

.btn[data-variant=rect] {
    padding: 0 15px;
    border-radius: 4px;
    font-size: 13px
}

.btn[data-variant=rect]:not([data-size]), .btn[data-variant=rect][data-size=m], .btn[data-variant=rect][data-size=l] {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2)
}

.btn[data-variant=rect]:not([data-size])[disabled], .btn[data-variant=rect][data-size=m][disabled], .btn[data-variant=rect][data-size=l][disabled], .btn[data-variant=rect]:not([data-size]).disabled, .btn[data-variant=rect][data-size=m].disabled, .btn[data-variant=rect][data-size=l].disabled, .btn[data-variant=rect]:not([data-size])[data-disabled], .btn[data-variant=rect][data-size=m][data-disabled], .btn[data-variant=rect][data-size=l][data-disabled] {
    box-shadow: none
}

.btn[data-variant=rect][data-size=l] {
    font-size: 15px
}

.btn-hollow {
    position: relative;
    background: var(--white);
    color: #389eac
}

@media (hover: hover) {
    .btn-hollow:hover {
        background: var(--blue5);
        color: #389eac
    }

    .btn-hollow:hover[disabled], .btn-hollow:hover.disabled, .btn-hollow:hover[data-disabled] {
        background: var(--gray50);
        color: var(--gray);
        cursor: default
    }
}

@media (hover: none) {
    .btn-hollow:active {
        background: var(--blue5);
        color: #389eac
    }

    .btn-hollow:active[disabled], .btn-hollow:active.disabled, .btn-hollow:active[data-disabled] {
        background: var(--gray50);
        color: var(--gray);
        cursor: default
    }
}

.btn-hollow::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border: 1px solid var(--gray50);
    border-radius: 100px;
    content: '';
    transform: scale(.5);
    transform-origin: 0 0
}

.btn-hollow[data-variant=rect]::after {
    border-radius: 8px
}

.btn-contained {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: var(--grayBlack)
}

.btn-contained.is-active, .btn-contained[data-active] {
    background: #389eac;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: var(--white)
}

@media (hover: hover) {
    .btn-contained:hover {
        background: #389eac;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        color: var(--white)
    }
}

@media (hover: none) {
    .btn-contained:active {
        background: #389eac;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        color: var(--white)
    }
}

.btn-contained[disabled], .btn-contained.disabled, .btn-contained[data-disabled] {
    background: var(--gray50);
    box-shadow: none;
    color: var(--gray)
}

@media (hover: hover) {
    .btn-contained[disabled]:hover, .btn-contained.disabled:hover, .btn-contained[data-disabled]:hover {
        background: var(--gray50);
        box-shadow: none;
        color: var(--gray)
    }
}

@media (hover: none) {
    .btn-contained[disabled]:active, .btn-contained.disabled:active, .btn-contained[data-disabled]:active {
        background: var(--gray50);
        box-shadow: none;
        color: var(--gray)
    }
}

.btn-contained[data-size=xs] {
    padding: 0 15px;
    height: 26px;
    font-size: 12px;
    line-height: 26px
}

.btn-contained[data-size=s] {
    padding: 0 14px;
    height: 30px;
    font-size: 13px;
    line-height: 30px
}

.btn-contained:not([data-size]), .btn-contained[data-size=m] {
    padding: 0 20px;
    height: 35px;
    font-size: 15px;
    line-height: 35px
}

.profile-reading-actions {
    margin-top: 20px
}

.profile-reading-actions .btn-read {
    min-width: 132px;
    background-color: #5dcaad
}

.profile-reading-actions .btn-read:hover {
    background-color: #3db192
}

.profile-reading-actions .btn-read:hover {
    border: none
}

.profile-reading-actions .btn-read.btn-vip, .profile-reading-actions .btn-read.btn-limited-vip {
    position: relative;
    padding: 0 35px;
    color: #eedfcc;
    background-color: var(--blueBlack)
}

.profile-reading-actions .btn-read.btn-vip:hover, .profile-reading-actions .btn-read.btn-limited-vip:hover {
    background-color: var(--blueBlack110)
}

.profile-reading-actions .btn-read.btn-vip::after, .profile-reading-actions .btn-read.btn-limited-vip::after {
    width: 26px;
    height: 23px;
    position: absolute;
    top: -18px;
    right: 5px;
    background: url('https://img3.doubanio.com/f/ark/3f566a92dbcba6f7141fc8b783137c127dcf01f9/pics/common/icon-vip-added.svg') no-repeat center/contain;
    content: ''
}

.ebook-profile.profile-reading-actions .btn-read.btn-vip::after, .ebook-profile.profile-reading-actions .btn-read.btn-limited-vip::after {
    display: none
}

.profile-reading-actions .btn-read.btn-limited-vip {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px
}

.profile-reading-actions .btn-read.btn-limited-vip p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px
}

.profile-reading-actions .btn-disabled, .profile-reading-actions .btn-disabled:hover {
    background: var(--gray50);
    color: #fff
}

.profile-reading-actions .read-count {
    margin-left: 10px;
    color: var(--grayBlack);
    vertical-align: -1px
}

.profile-reading-actions .share-popup-wrapper {
    float: right;
    margin-top: 3px
}

.profile-reading-actions #add-to-bookshelf-button-root .btn-bookshelf {
    float: right;
    margin: 3px 6px 0 0;
    padding: 0 12px;
    color: var(--grayBlack);
    font-size: 13px;
    line-height: 32px
}

.profile-reading-actions #add-to-bookshelf-button-root .btn-bookshelf:not(.is-in-library) {
    border-radius: 2px;
    background: #fff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer
}

.profile-reading-actions #add-to-bookshelf-button-root .btn-text:not(.is-in-library)::after {
    content: '加入书架'
}

.profile-reading-actions #add-to-bookshelf-button-root .btn-text.is-in-library::after {
    color: var(--gray);
    content: '已在书架'
}

.profile-reading-actions #add-to-bookshelf-button-root svg {
    margin-right: 8px;
    vertical-align: -5px
}

.profile-reading-actions .icon-arrow-down, .profile-reading-actions .icon-arrow-down:hover {
    background-image: url('https://img3.doubanio.com/f/ark/a1a27371e9aeae70b4e4b7e39d34753092bb771b/pics/store/profile/expand.png');
    background-position: center;
    background-repeat: no-repeat
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .profile-reading-actions .icon-arrow-down, .profile-reading-actions .icon-arrow-down:hover {
        background-image: url('https://img3.doubanio.com/f/ark/e35e5fce9689f97952b8a05664fd1ac6c24c5265/pics/store/profile/expand@2x.png');
        background-size: 8px 4px
    }
}

.profile-reading-actions .membership-promotion-bar {
    display: table;
    margin-bottom: 20px
}

.profile-reading-actions .membership-promotion-bar a {
    color: var(--grayBlack)
}

.profile-reading-actions .membership-promotion-bar a:hover {
    color: var(--grayBlack110)
}

.profile-reading-actions .membership-promotion-bar.is-vip {
    margin: -5px 0 15px
}

.action-button-tip:after, .action-button-tip:before, .rating-light .help-tip-container .help-tip:after, .profile-reading-actions .help-tip-container .help-tip:after, .rating-light .help-tip-container .help-tip:before, .profile-reading-actions .help-tip-container .help-tip:before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0);
    content: ' '
}

.action-button-tip {
    background: #474746;
    position: relative;
    position: absolute;
    display: none;
    padding: 6px 7px;
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1
}

.action-button-tip:after, .action-button-tip:before {
    top: 100%
}

.action-button-tip:after {
    border-width: 5px 5px;
    border-top-color: #474746;
    left: 50%;
    margin-left: -5px
}

.action-button-tip:before {
    border-width: 5px 5px;
    border-top-color: transparent;
    left: 50%;
    margin-left: -5px
}

.profile-purchase-container {
    position: relative
}

.profile-purchase-container::after {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    border: 1px solid #c8e2eb;
    content: '';
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
}

@-moz-document url-prefix() {
    .profile-purchase-container::after {
        transform: scale(0.5) rotate(0.001deg)
    }
}

.profile-purchase-actions {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    height: 41px;
    background: #f6fbfc;
    text-align: right;
    line-height: 41px
}

.profile-purchase-actions::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #c8e2eb;
    transform: scaleY(.5);
    transform-origin: 0 bottom
}

@-moz-document url-prefix() {
    .profile-purchase-actions::after {
        transform: scaleY(0.5) rotate(0.001deg)
    }
}

.profile-purchase-actions span, .profile-purchase-actions label, .profile-purchase-actions s {
    display: inline-block;
    vertical-align: top;
    line-height: 41px
}

.profile-purchase-actions .cant-purchase-msg {
    text-align: left;
    font-size: 13px
}

.profile-purchase-actions .price-tag {
    float: left;
    height: 41px;
    color: var(--grayBlack);
    vertical-align: middle
}

.profile-purchase-actions .price-tag label {
    margin-right: .5em;
    font-size: 13px
}

.profile-purchase-actions .prices-counts .original-price-count {
    color: var(--gray);
    vertical-align: -1px;
    font-weight: bold
}

.profile-purchase-actions .prices-counts .current-price-count {
    margin-top: -1px;
    font-weight: bold;
    font-size: 16px
}

.profile-purchase-actions .prices-counts .current-price-count {
    color: #3db192
}

.profile-purchase-actions .prices-counts .vip-price {
    color: #bb996d
}

.profile-purchase-actions .prices-counts .vip-label {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    border-radius: 2px;
    background: #eedfcc;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: var(--grayBlack);
    vertical-align: text-bottom;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px
}

@media (max-width: 767px) {
    .profile-purchase-actions .prices-counts .vip-label {
        font-size: 8px;
        line-height: 14px
    }
}

.profile-purchase-actions .prices-counts .discount-price {
    color: #fa595f
}

.profile-purchase-actions .prices-counts .price-free {
    margin-top: 0;
    color: #3db192;
    font-size: 13px
}

.profile-purchase-actions .prices-counts .price-time {
    color: var(--gray);
    vertical-align: -1px;
    font-size: 12px;
    line-height: 1
}

.profile-purchase-actions .bundle-price-note {
    margin-left: .6em;
    color: var(--gray);
    vertical-align: -1px
}

.profile-purchase-actions .bundle-price-note .discount-price {
    margin-right: 1px
}

.profile-purchase-actions .action-button {
    position: relative;
    color: #389eac;
    font-size: 14px;
    cursor: pointer
}

.profile-purchase-actions .action-button::after {
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid #c8e2eb;
    transform: scaleX(.5);
    transform-origin: 0 0
}

@-moz-document url-prefix() {
    .profile-purchase-actions .action-button::after {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

.profile-purchase-actions .action-button a, .profile-purchase-actions .action-button a:hover {
    display: inline-block;
    padding: 0 15px;
    height: 41px;
    color: #389eac;
    line-height: 41px;
    opacity: 1
}

.profile-purchase-actions .action-button a {
    background: transparent
}

.profile-purchase-actions .action-button a:hover {
    background: #fff
}

.profile-purchase-actions .action-button .btn-text {
    margin-left: 4px
}

.profile-purchase-actions .bought-date {
    margin-right: 15px;
    color: var(--gray);
    font-size: 13px
}

.profile-purchase-actions .bought-date a, .profile-purchase-actions .bought-date a:hover {
    margin: 0 .3em;
    background: transparent;
    color: #5dcaad
}

.profile-purchase-actions .free-text {
    margin-right: 15px
}

.profile-purchase-actions .btn-cart, .profile-purchase-actions .btn-cart:hover {
    border: none
}

.profile-purchase-actions.not-owned .cart-button .btn-text, .profile-purchase-actions.not-owned .gift-button .btn-text {
    display: none
}

.profile-purchase-actions .icon-buy, .profile-purchase-actions .icon-add-to-bookshelf {
    width: 17px;
    height: 20px;
    background-image: url('https://img3.doubanio.com/f/ark/2b99ad6defa21e9ca891194bff0af137e9fe08fe/pics/store/profile/purchase-blue.png');
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .profile-purchase-actions .icon-buy, .profile-purchase-actions .icon-add-to-bookshelf {
        background-image: url('https://img3.doubanio.com/f/ark/d683ee1b504a079f247a36fad87a8993a895c412/pics/store/profile/purchase-blue@2x.png');
        background-size: 17px 20px
    }
}

.profile-purchase-actions .icon-buy, .profile-purchase-actions .icon-add-to-bookshelf {
    vertical-align: -4px;
    transform: translateY(.5px)
}

.profile-purchase-actions .icon-cart, .profile-purchase-actions .icon-cart-added {
    width: 26px;
    height: 21px;
    background-image: url('https://img3.doubanio.com/f/ark/bfc8cace419b1253225b06e19c18792128901fb2/pics/store/profile/cart.png');
    background-position: top;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 -7px 0 -3px;
    vertical-align: -6px
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .profile-purchase-actions .icon-cart, .profile-purchase-actions .icon-cart-added {
        background-image: url('https://img3.doubanio.com/f/ark/d597889d89543ed1eec582336ba31b9ae2908348/pics/store/profile/cart@2x.png');
        background-size: 26px 42px
    }
}

.profile-purchase-actions .icon-cart-added {
    background-position: 0 -21px
}

.profile-purchase-actions .icon-gift {
    width: 16px;
    height: 17px;
    background-image: url('https://img3.doubanio.com/f/ark/9c3680a59672c2738b813cd61479140eea9a3f76/pics/store/profile/get-gift.png');
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .profile-purchase-actions .icon-gift {
        background-image: url('https://img3.doubanio.com/f/ark/2b922622955ffbabfe9763aa572f1e84d631c36a/pics/store/profile/get-gift@2x.png');
        background-size: 16px 17px
    }
}

.profile-purchase-actions .icon-gift {
    vertical-align: -3px
}

.profile-purchase-actions .icon-gift-label {
    width: 17px;
    height: 10px;
    background-image: url('https://img3.doubanio.com/f/ark/1d11828d5e9d6cfc0fe337e13497cd55bdc3d598/pics/store/profile/gift.png');
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .profile-purchase-actions .icon-gift-label {
        background-image: url('https://img3.doubanio.com/f/ark/4c72d69620d441a4e701de0037ca209191ed32e9/pics/store/profile/gift@2x.png');
        background-size: 17px 10px
    }
}

.profile-purchase-actions .icon-gift-label {
    margin-right: 5px;
    vertical-align: 0
}

.profile-purchase-actions .icon-buy, .profile-purchase-actions .icon-add-to-bookshelf, .profile-purchase-actions .icon-cart, .profile-purchase-actions .icon-cart-added, .profile-purchase-actions .icon-gift, .profile-purchase-actions .icon-gift-label {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF) !important;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" !important
}

.profile-event-message {
    position: relative;
    padding: 15px;
    padding-left: 50px;
    background: #fff
}

.profile-event-message + .profile-event-message {
    padding-top: 0
}

.profile-event-message:not(:last-child) {
    padding-bottom: 10px
}

.profile-event-message:before {
    border-top: none
}

.profile-event-message .label-sale, .profile-event-message .label-limit {
    position: absolute;
    left: 15px;
    margin: 2px;
    padding: 2px;
    border-radius: 3px 3px 0 3px;
    background: #fa595f;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    line-height: 1
}

.profile-event-message .event-info {
    overflow: hidden;
    font-size: 13px
}

.profile-event-message .desc::before {
    margin: 0 .5em;
    color: var(--gray);
    content: '|'
}

.profile-event-message .intro {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    float: left;
    max-width: calc(100% - 60px);
    vertical-align: middle
}

.profile-event-message .more-lnk {
    margin-left: 5px;
    color: #5dcaad
}

.profile-event-message .more-lnk:hover {
    color: #3db192
}

.profile-related-bundles {
    overflow: hidden;
    padding: 10px 15px;
    min-height: 40px;
    background: #fff;
    font-size: 13px;
    line-height: 1.7
}

.profile-related-bundles:last-child:not(:nth-child(2)) {
    padding-top: 0
}

.profile-related-bundles:after {
    z-index: 10;
    border-top: none
}

.profile-related-bundles .bundle-cover {
    width: 38px;
    height: 57px;
    margin-right: 10px
}

.profile-related-bundles .count {
    margin-right: 5px
}

.profile-related-bundles a {
    color: #5dcaad
}

.profile-related-bundles a:hover {
    background-color: #5dcaad;
    color: #fff
}

.rating-actions {
    padding: 13px 0;
    position: relative
}

.rating-actions::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--gray50);
    transform: scaleY(.5);
    transform-origin: 0 bottom
}

@-moz-document url-prefix() {
    .rating-actions::after {
        transform: scaleY(0.5) rotate(0.001deg)
    }
}

.rating-actions .rating-comment-wrapper {
    padding-top: 10px
}

.rating-actions .label {
    color: var(--gray)
}

.rating-actions .rating-comment, .rating-actions .rating-comment:hover {
    display: inline;
    margin-right: 5px;
    background: transparent;
    color: var(--grayBlack)
}

.rating-actions .rating-authority-hint {
    margin-left: .5em
}

.works-coming-soon {
    margin-bottom: 40px;
    padding: 0 5px 0 15px;
    height: 41px;
    background: #f8f9f9;
    line-height: 41px;
    position: relative
}

.works-coming-soon::after {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    border: 1px solid var(--gray50);
    content: '';
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
}

@-moz-document url-prefix() {
    .works-coming-soon::after {
        transform: scale(0.5) rotate(0.001deg)
    }
}

.works-coming-soon .name, .works-coming-soon .date {
    display: inline-block;
    vertical-align: middle;
    line-height: 1
}

.works-coming-soon .name {
    margin-right: .8em;
    color: var(--grayBlack);
    font-weight: bold;
    font-size: 16px
}

.works-coming-soon .date {
    color: var(--gray);
    vertical-align: -2px;
    font-size: 13px
}

.works-coming-soon .operation {
    float: right
}

.works-coming-soon .icon-bell, .works-coming-soon .icon-check {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-image: url('https://img3.doubanio.com/f/ark/7c5b43e89ffdde3572c31b95bf8a210ef9b744af/pics/store/profile/icon-bell.png');
    background-position: top left;
    background-repeat: no-repeat
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    .works-coming-soon .icon-bell, .works-coming-soon .icon-check {
        background-image: url('https://img3.doubanio.com/f/ark/1bc6fca83d46b06d117f365ea803d745bf771116/pics/store/profile/icon-bell@2x.png');
        background-size: 23px 80px
    }
}

.works-coming-soon .btn-remind, .works-coming-soon .btn-remind:hover {
    border-color: #f8f9f9;
    background: #5dcaad
}

.works-coming-soon .btn-remind:hover .icon-bell {
    background-position: 0 -20px
}

.works-coming-soon .icon-check {
    background-position: 0 -40px
}

.works-coming-soon .reminded, .works-coming-soon .reminded:hover {
    border-color: #ddd;
    background-color: #eee;
    color: #aaa
}

.works-coming-soon .reminded:hover .icon-check {
    background-position: 0 -60px
}

.contract-badges {
    font-size: 12px;
    line-height: 1
}

.contract-badges label {
    display: inline-flex;
    align-items: center;
    color: var(--grayBlack50);
    font-size: inherit;
    line-height: inherit
}

.contract-badges label:not(:last-child) {
    margin-right: 10px
}

.contract-badges label::before {
    width: 12px;
    height: 12px;
    margin-right: 3px;
    background: url('https://img3.doubanio.com/f/ark/194e1e765a170032e61aadd737d5b25c6ddca6c3/pics/common/profile/icon-contract-badge.svg');
    content: ''
}

@-moz-keyframes help-tip-popup {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes help-tip-popup {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@-o-keyframes help-tip-popup {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes help-tip-popup {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.article-profile-section, .head-column {
    margin-bottom: 0;
    padding-bottom: 24px
}

.article-profile-section .rating, .head-column .rating {
    margin-top: 11px
}

.article-profile-section .stars-context, .head-column .stars-context {
    vertical-align: -2px
}

.article-profile-section .admin-info, .head-column .admin-info {
    float: right
}

.article-profile-section .admin-info a + a, .head-column .admin-info a + a {
    margin-left: .5em
}

.article-profile-section .admin-info .label-withdrawn, .head-column .admin-info .label-withdrawn {
    display: inline-block;
    padding: 2px;
    border-radius: 2px 2px 0 2px;
    background: #fa595f;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    margin-right: 10px
}

@media (max-width: 1023px) {
    .article-profile-section .admin-info .label-withdrawn, .head-column .admin-info .label-withdrawn {
        font-size: 10px
    }

    .article-profile-section .admin-info .label-withdrawn::before, .head-column .admin-info .label-withdrawn::before {
        width: 0;
        height: 100%;
        display: inline-block;
        margin-top: 1px;
        content: '';
        vertical-align: middle
    }
}

.article-profile-section .admin-info .label-withdrawn::before, .head-column .admin-info .label-withdrawn::before {
    width: auto;
    content: '已下架'
}

.contract-badges {
    margin-top: 5px
}

body {
    background: var(--blue5)
}

a {
    color: #389eac
}

a:hover {
    background-color: transparent;
    color: #108899
}

.article-profile-intro {
    margin-top: 36px
}

.tags li {
    display: inline-block
}

.tags a {
    display: block;
    margin: 0 7px 6px 0;
    padding: 6px 10px;
    border-radius: 24px;
    background-color: #389eac;
    color: var(--white);
    line-height: 1
}

.tags a:hover {
    background-color: #108899;
    color: var(--white)
}

.tags .tag-total {
    color: var(--gray50)
}

.section-reviews-list, .section-book-reviews-list {
    margin-bottom: 0
}

.section-reviews-list .review-tabs .tab a:hover, .section-book-reviews-list .review-tabs .tab a:hover, .section-reviews-list .review-tabs .on a:hover, .section-book-reviews-list .review-tabs .on a:hover, .section-reviews-list .review-tabs .on a, .section-book-reviews-list .review-tabs .on a, .section-reviews-list .review-tabs .ark-tab-activated a, .section-book-reviews-list .review-tabs .ark-tab-activated a, .section-reviews-list .review-tabs .ark-tab-activated a:hover, .section-book-reviews-list .review-tabs .ark-tab-activated a:hover {
    background: #389eac;
    color: var(--white)
}

.collapse-content {
    overflow: hidden
}

.expand-collapsed-content {
    margin-top: 10px
}

.expand-collapsed-content a {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    background: var(--white);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: var(--grayBlack);
    line-height: 1
}

.expand-collapsed-content a:hover {
    background: #389eac;
    box-shadow: none;
    color: var(--white)
}

.expand-collapsed-content a::after {
    width: 7px;
    height: 4px;
    display: inline-block;
    margin-left: 8px;
    background: url('https://img3.doubanio.com/f/ark/b784bb1583620379da1de032e88e524e3d7efcbd/pics/common/icon-arrow-up-grayblack.svg') center/contain no-repeat;
    content: '';
    vertical-align: 2px;
    transform: scaleY(-1)
}

.collapse-context-expanded .expand-collapsed-content a::after {
    transform: scaleY(1)
}

.expand-collapsed-content a:hover::after {
    background: url('https://img3.doubanio.com/f/ark/3ff9c2df8a81232e9f3a835e3d5627858073424d/pics/common/icon-arrow-up-white.svg') center/contain no-repeat
}

.reviews-heading .reviews-heading-title {
    font-size: 18px
}

.review-list .btn-info {
    padding: 7px 13px 6px;
    border: none;
    background: var(--white);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: var(--grayBlack)
}

.review-list .btn-info:hover {
    background: #389eac;
    box-shadow: none;
    color: var(--white)
}

.review-list .review-item .desc-detail {
    margin-bottom: 0
}

.review-list .impression-actions .btn-vote.voted:not(:hover) {
    background: var(--white);
    color: var(--gray)
}

.review-list .impression-actions .right-actions .btn {
    vertical-align: middle
}

#header-container {
    margin-bottom: 0 !important
}

#head-breadcrumb {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 90;
    margin-bottom: 35px
}

#head-breadcrumb .inner {
    margin: 0 auto;
    width: 936px
}

.rating-light .help-tip-container, .profile-reading-actions .help-tip-container {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    line-height: 14px;
    cursor: default
}

@media (hover: hover) {
    .rating-light .help-tip-container:hover::before, .profile-reading-actions .help-tip-container:hover::before {
        width: 40px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -20px;
        content: ''
    }
}

@media (hover: none) {
    .rating-light .help-tip-container:active::before, .profile-reading-actions .help-tip-container:active::before {
        width: 40px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -20px;
        content: ''
    }
}

.rating-light .help-tip-container .icon-help, .profile-reading-actions .help-tip-container .icon-help {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('https://img3.doubanio.com/f/ark/e440d409395d65727138d1422b506fae8ed0829f/pics/common/icon-help-tip-red.svg') center/contain no-repeat;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transform: translateY(-1px)
}

.rating-light .help-tip-container .help-tip, .profile-reading-actions .help-tip-container .help-tip {
    background: #fff;
    position: relative;
    position: absolute;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.1));
    box-shadow: 0 0 0 .5px var(--gray50);
    line-height: 1.5;
    top: 26px;
    bottom: auto;
    left: -173px;
    z-index: 10;
    box-sizing: border-box;
    padding: 13px;
    width: 207px;
    color: var(--grayBlack);
    animation: help-tip-popup ease .3s;
    text-align: left
}

.rating-light .help-tip-container .help-tip:after, .profile-reading-actions .help-tip-container .help-tip:after, .rating-light .help-tip-container .help-tip:before, .profile-reading-actions .help-tip-container .help-tip:before {
    bottom: 100%
}

.rating-light .help-tip-container .help-tip:after, .profile-reading-actions .help-tip-container .help-tip:after {
    border-width: 8px 8px;
    border-bottom-color: #fff;
    left: 180px;
    margin-left: -8px
}

.rating-light .help-tip-container .help-tip:before, .profile-reading-actions .help-tip-container .help-tip:before {
    border-width: 9px 9px;
    border-bottom-color: var(--gray50);
    left: 180px;
    margin-left: -9px
}

.rating-light .help-tip-container .help-tip span, .profile-reading-actions .help-tip-container .help-tip span {
    display: block;
    margin-bottom: 5px
}

.rating-light .help-tip-container .help-tip ul, .profile-reading-actions .help-tip-container .help-tip ul {
    margin-left: 16px;
    list-style: disc
}

.rating-light .help-tip-container .help-tip li, .profile-reading-actions .help-tip-container .help-tip li {
    padding: 0;
    border-bottom: none
}

.rating-light .help-tip-container:not(:hover) .help-tip, .profile-reading-actions .help-tip-container:not(:hover) .help-tip {
    display: none
}

.rating-light .help-tip-container, .profile-reading-actions .help-tip-container {
    margin-left: 3px
}

.rating-light .help-tip-container .help-tip, .profile-reading-actions .help-tip-container .help-tip {
    top: -27px;
    right: -218px;
    left: auto;
    text-align: justify
}

.rating-light .help-tip-container .help-tip::before, .profile-reading-actions .help-tip-container .help-tip::before {
    top: 25px;
    left: -9px;
    border-right-color: var(--gray50);
    border-bottom-color: transparent
}

.rating-light .help-tip-container .help-tip::after, .profile-reading-actions .help-tip-container .help-tip::after {
    top: 26px;
    left: -8px;
    border-right-color: var(--white);
    border-bottom-color: transparent
}

#ark-overlay #ark-dialog {
    position: relative;
    width: 752px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    white-space: normal
}

#ark-overlay #ark-dialog::before {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    border: 1px solid var(--gray50);
    content: '';
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
}

@-moz-document url-prefix() {
    #ark-overlay #ark-dialog::before {
        transform: scale(0.5) rotate(0.001deg)
    }
}

#ark-overlay #ark-dialog .dialog-hd {
    padding: 20px 40px 20px 20px
}

#ark-overlay #ark-dialog .dialog-bd {
    padding: 0 20px 20px;
    background: #fff
}

#ark-overlay #ark-dialog .k-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1
}

#ark-overlay #ark-dialog .k-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    right: 10px;
    background: url('https://img3.doubanio.com/f/ark/5c8ff5073938b62f35b6fb2c8de2c48ee8378457/pics/common/icon-cross-13-blue.svg') center/13px no-repeat;
    font-size: 0
}

#ark-overlay #ark-dialog .k-buttons {
    margin-top: 10px;
    text-align: right;
    direction: rtl
}

#ark-overlay #ark-dialog .k-buttons > * {
    direction: initial
}

#ark-overlay #ark-dialog .k-buttons .btn {
    margin-left: 10px
}

#ark-overlay #ark-dialog p {
    margin-bottom: 10px
}

#ark-overlay #ark-dialog p:last-of-type {
    margin-bottom: 0
}

@media (max-width: 768px) {
    #ark-overlay #ark-overlay .k-content {
        background: none
    }

    #ark-overlay #ark-dialog {
        margin: 0;
        width: auto;
        background: var(--blue5)
    }

    #ark-overlay #ark-dialog .dialog-bd {
        background: var(--blue5)
    }
}

#ark-overlay .dialog-hd {
    background: transparent
}

#ark-overlay .dialog-hd .k-title {
    color: var(--grayBlack)
}

#ark-overlay .k-text {
    margin-bottom: 0
}

#ark-overlay .dialog-bd {
    color: var(--grayBlack)
}

#ark-overlay .dialog-bd textarea {
    border-color: var(--gray50)
}

#ark-overlay .dialog-bd .btn {
    width: 92px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: #389eac;
    color: #fff;
    font-size: 13px;
    line-height: 30px
}

#ark-overlay .dialog-bd .btn:hover {
    background: #108899
}

#ark-overlay .dialog-bd .btn-minor {
    position: relative;
    background: #fff;
    color: #389eac
}

#ark-overlay .dialog-bd .btn-minor::after {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: -100%;
    left: 0;
    border: 1px solid var(--gray50);
    content: '';
    transform: scale(.5);
    transform-origin: 0 0;
    pointer-events: none
}

@-moz-document url-prefix() {
    #ark-overlay .dialog-bd .btn-minor::after {
        transform: scale(0.5) rotate(0.001deg)
    }
}

#ark-overlay .dialog-bd .btn-minor::after {
    border-radius: 8px
}

#ark-overlay .dialog-bd .btn-minor:hover {
    background: var(--blue5)
}

#ark-overlay #ark-dialog {
    width: auto
}

#ark-overlay #ark-dialog.general-tips, #ark-overlay #ark-dialog .subscribe-tips {
    width: 350px
}

#ark-overlay #ark-dialog.dialog-sharing {
    width: 480px
}

.purchase-dialog::before {
    display: none
}

.purchase-dialog .purchase-tip {
    background: var(--blue5)
}

.purchase-dialog .payment-method [type=radio]:checked ~ .bank-box {
    border-color: #389eac
}

.purchase-dialog .purchase-options {
    margin: 15px 0 -34px
}

.rating-dialog .k-buttons {
    display: none
}

.donate-dialog section li.active label, .donate-dialog section li.active .custom {
    border-color: #389eac
}

.donate-dialog .donate-sync {
    bottom: -35px;
    margin-bottom: 0
}

.donate-dialog section li .text-cover {
    color: #389eac
}

.subscribe-tips .k-buttons {
    direction: ltr !important
}

.reader-action .rating-stars {
    margin-left: 5px
}

.author-block a:not(.btn), .author-info h4 a, .author-other-works .works-list a {
    color: var(--grayBlack)
}

.author-block a:not(.btn):hover, .author-info h4 a:hover, .author-other-works .works-list a:hover {
    color: var(--grayBlack110)
}