article, main, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

img, fieldset {
    border: none
}

address, caption, cite, code, dfn, em, strong, th {
    font-weight: normal;
    font-style: normal
}

ol, ul {
    list-style: none
}

th, caption {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    word-wrap: break-word
}

q:before, q:after {
    content: ''
}

a:hover, a:active {
    outline: none
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

fieldset {
    min-inline-size: auto
}

input {
    vertical-align: middle
}

input, button, textarea {
    outline: none;
    font-size: 12px;
    resize: none
}

input, button {
    *overflow: visible;
    line-height: normal
}

input::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border: none
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type='search'] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-Italic'), local('Georgia Italic')
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-BoldItalic'), local('Georgia Bold Italic')
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'doucoin';
    src: url('https://img3.doubanio.com/f/ark/02188c4d0d6163cc8134121eb83ca603ec1c3772/pics/iconic/doucoin.woff') format('woff'), url('https://img3.doubanio.com/f/ark/d17548bdbd9e34caae4b3ecae79b3052dd442b27/pics/iconic/doucoin.ttf') format('truetype'), url('https://img3.doubanio.com/f/ark/01b5d034dc5c1f86a63d3a3cf5f37f6f6cc6e8bb/pics/iconic/doucoin.svg') format('svg')
}

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'arkicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#footer-compact .logo::before, #header-compact-v3 .site-nav.site-nav-original::before, #header-compact-v3 .site-nav.site-nav-original::after, #header-compact-v3 .site-nav.site-nav-mobile::before, #header-compact-v3 .site-nav.site-nav-mobile::after {
    position: absolute;
    content: ''
}

body {
    color: #333;
    font: 12px/1.5 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Luxi Sans', Arial, 'PingFang SC', 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Micro Hei Mono', 'WenQuanYi Zen Hei', 'WenQuanYi Zen Hei Mono', LiGothicMed;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1, h2, h3 {
    font-weight: bold
}

a {
    text-decoration: none
}

p {
    margin-bottom: 10px
}

b, em {
    font-weight: bold
}

i {
    font-style: italic
}

q:before, q:after, blockquote:before, blockquote:after {
    content: ''
}

ul, ol {
    font-size: 0
}

ul li, ol li {
    font-size: 12px
}

#footer-compact .logo::before, #header-compact-v3 .site-nav.site-nav-original::before, #header-compact-v3 .site-nav.site-nav-original::after, #header-compact-v3 .site-nav.site-nav-mobile::before, #header-compact-v3 .site-nav.site-nav-mobile::after {
    position: absolute;
    content: ''
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-Italic'), local('Georgia Italic')
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-BoldItalic'), local('Georgia Bold Italic')
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'doucoin';
    src: url('https://img3.doubanio.com/f/ark/02188c4d0d6163cc8134121eb83ca603ec1c3772/pics/iconic/doucoin.woff') format('woff'), url('https://img3.doubanio.com/f/ark/d17548bdbd9e34caae4b3ecae79b3052dd442b27/pics/iconic/doucoin.ttf') format('truetype'), url('https://img3.doubanio.com/f/ark/01b5d034dc5c1f86a63d3a3cf5f37f6f6cc6e8bb/pics/iconic/doucoin.svg') format('svg')
}

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'arkicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-Italic'), local('Georgia Italic')
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'arkitalic';
    src: local('Georgia-BoldItalic'), local('Georgia Bold Italic')
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'doucoin';
    src: url('https://img3.doubanio.com/f/ark/02188c4d0d6163cc8134121eb83ca603ec1c3772/pics/iconic/doucoin.woff') format('woff'), url('https://img3.doubanio.com/f/ark/d17548bdbd9e34caae4b3ecae79b3052dd442b27/pics/iconic/doucoin.ttf') format('truetype'), url('https://img3.doubanio.com/f/ark/01b5d034dc5c1f86a63d3a3cf5f37f6f6cc6e8bb/pics/iconic/doucoin.svg') format('svg')
}

[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'arkicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#footer-compact .logo::before, #header-compact-v3 .site-nav.site-nav-original::before, #header-compact-v3 .site-nav.site-nav-original::after, #header-compact-v3 .site-nav.site-nav-mobile::before, #header-compact-v3 .site-nav.site-nav-mobile::after {
    position: absolute;
    content: ''
}

label, input, button, select, textarea {
    font-size: 13px;
    font-family: inherit;
    line-height: 1.5
}

input, button, select, textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

textarea, input[type='text'], input[type='password'], input[type='datetime'], input[type='datetime-local'], input[type='date'], input[type='month'], input[type='time'], input[type='week'], input[type='number'], input[type='email'], input[type='url'], input[type='search'], input[type='tel'], input[type='color'] {
    display: inline-block;
    padding: 4px;
    height: 20px;
    border: 1px solid #ccc;
    line-height: 19px
}

textarea.focused, input[type='text'].focused, input[type='password'].focused, input[type='datetime'].focused, input[type='datetime-local'].focused, input[type='date'].focused, input[type='month'].focused, input[type='time'].focused, input[type='week'].focused, input[type='number'].focused, input[type='email'].focused, input[type='url'].focused, input[type='search'].focused, input[type='tel'].focused, input[type='color'].focused, textarea:focus, input[type='text']:focus, input[type='password']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='date']:focus, input[type='month']:focus, input[type='time']:focus, input[type='week']:focus, input[type='number']:focus, input[type='email']:focus, input[type='url']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='color']:focus {
    outline: none;
    border-color: #aaa
}

textarea.error, input[type='text'].error, input[type='password'].error, input[type='datetime'].error, input[type='datetime-local'].error, input[type='date'].error, input[type='month'].error, input[type='time'].error, input[type='week'].error, input[type='number'].error, input[type='email'].error, input[type='url'].error, input[type='search'].error, input[type='tel'].error, input[type='color'].error {
    border-color: #b85f5f;
    border-right-width: 2px
}

textarea {
    height: auto
}

.field-group {
    margin-bottom: 10px
}

.field-group:last-child {
    margin-bottom: 0
}

.field-label {
    color: #333;
    font-size: 14px
}

select, input[type='file'] {
    height: 28px;
    line-height: 28px
}

input[type='file'] {
    line-height: 18px
}

select {
    border: 1px solid #ccc
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    border: 1px solid #ddd;
    background-color: #eee;
    color: #aaa
}

input[disabled], select[disabled], textarea[disabled] {
    cursor: not-allowed
}

input[readonly], select[readonly], textarea[readonly] {
    background-color: #f7f7f7;
    color: #999;
    cursor: text
}

input[type='radio'], input[type='checkbox'] {
    margin: 3px 0;
    line-height: normal
}

.radio, .checkbox {
    display: inline-block;
    margin: 7px 15px 0 0;
    color: #666
}

.radio input[type='radio'], .checkbox input[type='checkbox'] {
    float: left;
    margin-right: 5px;
    padding: 0
}

.help-block {
    margin: 5px 0 0;
    color: #999
}

.help-block:empty {
    margin: 0
}

.help-inline {
    display: inline-block;
    padding-left: 8px;
    color: #999;
    vertical-align: middle;
    white-space: nowrap
}

.max-length-hint-msg.is-exceeded {
    color: #fa595f
}

.max-length-hint-msg.help-block {
    text-align: right
}

.max-length-hint-msg.help-block.is-exceeded {
    text-align: left
}

.max-length-hint-msg.help-inline {
    position: absolute;
    margin-top: 8px;
    margin-left: -61px;
    width: 45px;
    text-align: right
}

.max-length-hint-msg.help-inline.is-exceeded {
    margin-left: 0;
    width: auto;
    text-align: left
}

.error {
    color: #b85f5f
}

.form-actions button {
    margin-right: 5px
}

.fields-inline input {
    margin-right: 5px
}

.form-horizontal .field-group:after {
    display: table;
    clear: both;
    content: ''
}

.form-horizontal .field-label {
    float: left;
    margin-top: 3px;
    padding-left: 5px;
    width: 95px;
    text-align: right
}

.form-horizontal .fields, .form-horizontal .fields-inline {
    margin-left: 120px
}

.form-horizontal .form-actions {
    margin: 10px 0 0 120px
}

.form-vertical .form-actions {
    padding-top: 8px
}

.form-vertical .field-label {
    display: block;
    margin-bottom: 3px
}

.multi-input .radio {
    display: block
}

.multi-input input {
    margin-bottom: 8px
}

.multi-input .help-inline {
    margin-top: -8px
}

:root {
    --footer-height: 40px
}

#footer-compact {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    height: 40px;
    background: var(--blueBlack);
    color: #fff
}

#footer-compact .inner {
    padding: 0 20px 0 10px;
    width: auto
}

#footer-compact a, #footer-compact a:hover {
    color: #fff
}

#footer-compact a:hover {
    background: #fff;
    color: var(--blueBlack)
}

#footer-compact .logo {
    float: right;
    width: 115px;
    height: 40px;
    position: relative
}

#footer-compact .logo::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid var(--blueBlack110);
    transform: scaleX(.5);
    transform-origin: 0 0
}

@-moz-document url-prefix() {
    #footer-compact .logo::before {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

#footer-compact .logo, #footer-compact .logo:hover {
    background-color: var(--blueBlack);
    background-image: url('https://img3.doubanio.com/f/ark/e299074d3aa03aa579604b0ebeb2f01b01aa8c7c/pics/logo/white-s.png');
    background-position: 15px center;
    background-repeat: no-repeat
}

@media (min--moz-device-pixel-ratio: 1.3),(-o-min-device-pixel-ratio: 2.6/2),(-webkit-min-device-pixel-ratio: 1.3),(min-device-pixel-ratio: 1.3),(min-resolution: 1.3dppx) {
    #footer-compact .logo, #footer-compact .logo:hover {
        background-image: url('https://img3.doubanio.com/f/ark/6c92f16931282270f20703952889892c3f38b72f/pics/logo/white-s@2x.png');
        background-size: 100px 17px
    }
}

#footer-compact .copyright {
    position: absolute;
    top: 50%;
    margin: -16px 0 0;
    height: 32px;
    color: var(--gray);
    line-height: 1.4
}

#footer-compact .copyright a, #footer-compact .copyright a:hover {
    background: transparent;
    color: var(--gray)
}

#footer-compact .license-list {
    display: flex;
    transform: scale(.9);
    transform-origin: left center
}

#footer-compact .license-item {
    margin-right: 5px
}

#footer-compact .ft-nav {
    float: right;
    margin-right: 15px;
    height: 40px;
    line-height: 40px
}

.ua-mac #footer-compact .ft-nav {
    line-height: 42px
}

#footer-compact .ft-nav .item {
    display: inline
}

#footer-compact .ft-nav .item::after {
    display: inline-block;
    margin: 0 5px;
    content: '·'
}

#footer-compact .ft-nav .item:last-child::after {
    display: none
}

#footer-compact .item:last-child:hover::before {
    transform: translateX(39%)
}

#footer-compact .item:last-child::before {
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 32px;
    height: 32px;
    background: url('https://img3.doubanio.com/f/ark/1e19ee42e0ea1a17c2a81eb007ac73d3ae4247eb/pics/dadan.png') center/contain no-repeat;
    content: '';
    transition: transform 3s cubic-bezier(.71, .96, .83, 0);
    transform: translateX(100%)
}

.ua-webview #footer-compact, .ua-iphone.ua-frodo-webview #footer-compact, .ua-ipad.ua-frodo-webview #footer-compact {
    display: none
}

@media (max-width: 1050px) {
    #footer-compact .inner {
        padding-right: 10px
    }

    #footer-compact .logo {
        width: 45px
    }

    #footer-compact .ft-nav {
        margin-right: 10px
    }

    #footer-compact .ft-nav .item::after {
        margin: 0 2px
    }

    .ua-iphone .copyright, .ua-ipad .copyright, .ua-android .copyright {
        display: none
    }
}

@media (max-width: 768px) {
    #footer-compact {
        text-align: center
    }

    #footer-compact .logo {
        display: inline-block;
        float: none;
        width: 100px;
        background-position: center
    }

    #footer-compact .ft-nav, #footer-compact .copyright, #footer-compact .logo::before {
        display: none
    }
}

.force-mobile#footer-compact {
    text-align: center
}

.force-mobile#footer-compact .logo {
    display: inline-block;
    float: none;
    width: 100px;
    background-position: center
}

.force-mobile#footer-compact .ft-nav, .force-mobile#footer-compact .copyright, .force-mobile#footer-compact .logo::before {
    display: none
}

.drop-down-list {
    position: absolute;
    right: 0;
    z-index: 200;
    display: none;
    padding: 10px 0;
    min-width: 120px;
    max-width: 130px;
    background: var(--white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: left
}

.drop-down-list a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
    white-space: nowrap;
    line-height: 30px
}

.drop-down-list a:hover {
    background-color: var(--blue10)
}

.drop-down-list:before {
    position: absolute;
    margin-top: -22px;
    width: 100%;
    height: 12px;
    content: ''
}

.drop-down-list .extra-info {
    width: 40px;
    height: 28px;
    position: absolute;
    border-radius: 28px;
    background: #fa595f;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    transform: scale(.5);
    transform-origin: top left;
    top: 8px;
    right: 9px;
    padding: 0 10px;
    width: auto;
    transform-origin: top right
}

.drop-down-list label {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 3px;
    background-color: #3e82f8;
    color: #fff;
    vertical-align: 1px;
    text-align: center;
    font-size: 9px;
    line-height: 1
}

:root {
    --header-height: 50px
}

@media (max-width: 768px) {
    :root {
        --header-height: 45px
    }
}

@media (max-width: 414px) {
    :root {
        --header-height: 40px
    }
}

.header-inner a {
    color: inherit;
    cursor: pointer
}

.header-inner .fill-current-color path {
    fill: currentColor
}

.header-inner .user-info {
    /*margin-right: 0;*/
    position: center;
}

#header-container {
    height: 50px;
    height: var(--header-height);
    position: relative;
    width: 100%
}

#header-container * {
    box-sizing: content-box
}

#header-compact-v3 {
    z-index: 110;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: var(--white);
    color: var(--grayBlack)
}

#header-compact-v3:hover {
    z-index: 120
}

#header-compact-v3.should-stick {
    position: fixed
}

#header-compact-v3:last-child {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1)
}

#header-compact-v3 .header-inner {
    display: flex;
    padding: 0 26px 0 20px;
    height: 50px;
    height: var(--header-height);
    white-space: nowrap
}

@media (max-width: 768px) {
    #header-compact-v3 .header-inner {
        padding-right: 10px;
        padding-left: 10px
    }
}

@media (max-width: 414px) {
    #header-compact-v3 .header-inner {
        padding-right: 8px;
        padding-left: 8px
    }
}

#header-compact-v3 a:not([class^=btn]) {
    color: var(--grayBlack)
}

#header-compact-v3 a:not([class^=btn]):hover {
    background-color: transparent;
    color: var(--grayBlack110)
}

#header-compact-v3 .site-logo {
    position: relative;
    margin-top: 10px;
    width: 117px;
    background: url('../img/elogo.png') right top/117px auto no-repeat;
    color: var(--grayBlack)
}

#header-compact-v3 .site-logo::after {
    position: absolute;
    right: -6px;
    bottom: 3px;
    display: block;
    letter-spacing: 6px;
    font-size: 12px;
    transform: scale(.8);
    transform-origin: top right
}

#header-compact-v3 .site-logo:hover {
    background-color: transparent
}

@media (max-width: 768px) {
    #header-compact-v3 .site-logo {
        margin-top: 8px;
        width: 84px;
        background-size: 123px auto
    }

    #header-compact-v3 .site-logo::after {
        right: -.31em;
        bottom: -1px;
        letter-spacing: .31em;
        transform: scale(.7)
    }
}

@media (max-width: 414px) {
    #header-compact-v3 .site-logo {
        margin-top: 7px;
        width: 78px;
        background-size: 109px auto
    }

    #header-compact-v3 .site-logo::after {
        right: -2px;
        bottom: -2px;
        letter-spacing: 2px;
        transform: scale(.7)
    }
}

.force-mobile#header-compact-v3 .site-logo {
    margin-top: 7px;
    width: 78px;
    background-size: 109px auto
}

.force-mobile#header-compact-v3 .site-logo::after {
    right: -2px;
    bottom: -2px;
    letter-spacing: 2px;
    transform: scale(.7)
}

#header-compact-v3 .func-nav {
    height: 50px;
    height: var(--header-height);
    margin-left: 30px
}

#header-compact-v3 .func-nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px
}

#header-compact-v3 .func-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    height: var(--header-height);
    position: relative;
    padding: 0 10px;
    border: none;
    background: var(--white);
    color: var(--grayBlack)
}

#header-compact-v3 .func-nav button:active, #header-compact-v3 .func-nav button:hover, #header-compact-v3 .func-nav button:focus {
    color: var(--grayBlack110)
}

#header-compact-v3 .func-nav button svg {
    margin-right: 7px;
    color: var(--blueBlack)
}

#header-compact-v3 .func-nav button:hover svg {
    color: var(--blueBlack110)
}

@media (max-width: 900px) {
    #header-compact-v3 .func-nav .text {
        display: none
    }
}

@media (max-width: 768px) {
    #header-compact-v3 .func-nav {
        display: none
    }
}

.force-mobile#header-compact-v3 .func-nav {
    display: none
}

#header-compact-v3 .nav-category svg {
    width: 20px;
    height: 14px
}

#header-compact-v3 .nav-search svg {
    width: 18px;
    height: 18px
}

#header-compact-v3 .site-nav-container {
    height: 50px;
    height: var(--header-height);
    flex-grow: 1;
    overflow: hidden
}

#header-compact-v3 .site-nav-container .site-nav {
    height: 100%;
    transition: transform .25s
}

#header-compact-v3 .site-nav-container.show-second-site-nav .site-nav {
    transform: translateY(-100%)
}

#header-compact-v3 .site-nav-container li {
    display: inline-block;
    vertical-align: top
}

#header-compact-v3 .site-nav-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    height: var(--header-height);
    position: relative;
    color: var(--grayBlack)
}

#header-compact-v3 .site-nav-container a:hover {
    background-color: transparent
}

#header-compact-v3 .site-nav-container a:hover::after {
    position: absolute;
    bottom: 3px;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    background: var(--grayBlack);
    content: '';
    transform: translateX(-50%)
}

#header-compact-v3 .site-nav-container .btn-more {
    padding: 0 10px;
    width: 10px;
    background: url('https://img3.doubanio.com/f/ark/6f5caaa78a359e34dc7f573d6699daf45750c44f/pics/common/icon-more-grayblack.svg') center/10px no-repeat
}

#header-compact-v3 .site-nav-container .more-active a::after {
    display: none !important
}

#header-compact-v3 .site-nav-container .drop-down-list {
    right: auto
}

#header-compact-v3 .site-nav-container .drop-down-list a {
    display: block;
    padding: 9px 0;
    height: 30px
}

#header-compact-v3 .site-nav.site-nav-normal {
    text-align: center
}

#header-compact-v3 .site-nav.site-nav-normal li {
    font-size: 14px
}

#header-compact-v3 .site-nav.site-nav-normal a {
    padding: 0 17px
}

#header-compact-v3 .site-nav.site-nav-normal .nav-item-membership {
    background: url('https://img3.doubanio.com/f/ark/37465aa3c364628f8b52d246656390ab7c0ee826/pics/membership/vip-nav-normal.png') no-repeat center/cover
}

#header-compact-v3 .site-nav.site-nav-normal .nav-item-membership li {
    margin-left: 8px
}

#header-compact-v3 .site-nav.site-nav-normal .nav-item-membership a {
    padding: 0 14px;
    color: #3e4347;
    font-size: 14px;
    line-height: 1
}

#header-compact-v3 .site-nav.site-nav-normal .nav-item-membership a:hover {
    color: var(--grayBlack110)
}

#header-compact-v3 .site-nav.site-nav-original {
    margin: 0 15px 0 10px;
    padding: 0 10px;
    position: relative;
    position: relative
}

#header-compact-v3 .site-nav.site-nav-original::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid var(--gray50);
    transform: scaleX(.5);
    transform-origin: 0 0
}

@-moz-document url-prefix() {
    #header-compact-v3 .site-nav.site-nav-original::before {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

#header-compact-v3 .site-nav.site-nav-original::after {
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid var(--gray50);
    transform: scaleX(.5);
    transform-origin: right 0
}

@-moz-document url-prefix() {
    #header-compact-v3 .site-nav.site-nav-original::after {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

#header-compact-v3 .site-nav.site-nav-original::before, #header-compact-v3 .site-nav.site-nav-original::after {
    top: calc(50% - 10px);
    height: 20px
}

#header-compact-v3 .site-nav.site-nav-original ul {
    display: flex
}

#header-compact-v3 .site-nav.site-nav-original li {
    font-size: 13px
}

#header-compact-v3 .site-nav.site-nav-original a {
    padding: 0 10px
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-ebook {
    margin-left: auto
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-ebook a, #header-compact-v3 .site-nav.site-nav-original .nav-item-app a, #header-compact-v3 .site-nav.site-nav-original .nav-item-membership a {
    color: var(--grayBlack);
    font-size: 12px
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-ebook a:hover, #header-compact-v3 .site-nav.site-nav-original .nav-item-app a:hover, #header-compact-v3 .site-nav.site-nav-original .nav-item-membership a:hover {
    color: var(--grayBlack110)
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-ebook a::after, #header-compact-v3 .site-nav.site-nav-original .nav-item-app a::after, #header-compact-v3 .site-nav.site-nav-original .nav-item-membership a::after {
    display: none
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-membership {
    background: url('https://img3.doubanio.com/f/ark/54d8e44cbb8a7e64fa175d24af5e84dcea896915/pics/membership/vip-nav-original.png') no-repeat center/cover
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-membership li {
    margin-left: 2px
}

#header-compact-v3 .site-nav.site-nav-original .nav-item-membership a {
    padding: 0 5px;
    line-height: 1
}

#header-compact-v3 .site-nav.site-nav-mobile {
    margin: 0 10px;
    padding: 0 16px 0 0;
    position: relative;
    position: relative
}

#header-compact-v3 .site-nav.site-nav-mobile::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid var(--gray50);
    transform: scaleX(.5);
    transform-origin: 0 0
}

@-moz-document url-prefix() {
    #header-compact-v3 .site-nav.site-nav-mobile::before {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

#header-compact-v3 .site-nav.site-nav-mobile::after {
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid var(--gray50);
    transform: scaleX(.5);
    transform-origin: right 0
}

@-moz-document url-prefix() {
    #header-compact-v3 .site-nav.site-nav-mobile::after {
        transform: scaleX(0.5) rotate(0.001deg)
    }
}

@media (max-width: 414px) {
    #header-compact-v3 .site-nav.site-nav-mobile {
        padding-right: 10px
    }
}

#header-compact-v3 .site-nav.site-nav-mobile::before, #header-compact-v3 .site-nav.site-nav-mobile::after {
    top: calc(50% - 10px);
    height: 20px
}

#header-compact-v3 .site-nav.site-nav-mobile ul {
    display: flex
}

#header-compact-v3 .site-nav.site-nav-mobile .nav-item-app {
    margin-left: auto
}

#header-compact-v3 .site-nav.site-nav-mobile .nav-item-app a {
    font-size: 12px
}

#header-compact-v3 .site-nav.site-nav-mobile .nav-item-app a::after {
    display: none
}

#header-compact-v3 .nav-submit {
    display: flex;
    align-items: center;
    padding: 0 10px 0 5px
}

#header-compact-v3 .nav-submit svg {
    margin-right: 4px;
    width: 10px;
    height: 10px;
    transform: translateY(.5px)
}

#header-compact-v3 .nav-submit .lnk-start-publish {
    color: #5dcaad
}

#header-compact-v3 .nav-submit .lnk-start-publish:hover {
    color: #3db192
}

@media (max-width: 768px) {
    #header-compact-v3 .nav-submit {
        display: none
    }
}

.force-mobile#header-compact-v3 .nav-submit {
    display: none
}

#header-compact-v3 .more-active:hover .drop-down-list {
    display: block
}

@media (max-width: 768px) {
    #header-compact-v3 .more-active:hover .drop-down-list {
        display: none
    }
}

#header-compact-v3 .more-active .drop-down-list a {
    color: var(--grayBlack)
}

#header-compact-v3 .more-active .drop-down-list a:hover {
    background-color: var(--blue10)
}

#header-compact-v3 .nav-user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    height: var(--header-height);
    margin-right: -12px
}

#header-compact-v3 .nav-user .avatar {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 30px
}

#header-compact-v3 .nav-user .avatar img {
    vertical-align: top;
    object-fit: cover
}

#header-compact-v3 .nav-user .avatar.is-vip {
    position: relative;
    overflow: visible
}

#header-compact-v3 .nav-user .avatar.is-vip img {
    overflow: hidden;
    border-radius: 50%
}

#header-compact-v3 .nav-user .avatar.is-vip::after {
    position: absolute;
    top: -6px;
    right: -8px;
    bottom: auto;
    left: auto;
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url('https://img3.doubanio.com/f/ark/fd9362761d16c293fb1ad44593281af9c974faf8/pics/common/icon-vip.svg') no-repeat center/contain;
    content: '';
    opacity: 1;
    transform: rotate(45deg)
}

#header-compact-v3 .nav-user.is-anonymous {
    width: 45px;
    text-align: center
}

#header-compact-v3 .nav-user.is-anonymous .avatar {
    line-height: 30px
}

#header-compact-v3 .nav-user.is-anonymous img {
    vertical-align: text-bottom
}

#header-compact-v3 .nav-user .drop-down-list {
    top: 50px;
    top: var(--header-height)
}

#header-compact-v3 .nav-user .nav-num {
    left: 26px
}

#header-compact-v3 .nav-user .icon-judge-recruiting {
    width: 30px;
    height: 12px;
    background: url('https://img3.doubanio.com/f/ark/0d30696db6977b9cd2dab36de9ddcc8b85058638/pics/mobile/mine/icon-judge-recruiting.png') center/cover no-repeat
}

#header-compact-v3 .nav-user .icon-standbyme {
    width: 26px;
    height: 10px
}

@media (max-width: 768px) {
    #header-compact-v3 .nav-user {
        margin: 0 0 0 8px;
        width: auto
    }
}

@media (max-width: 414px) {
    #header-compact-v3 .nav-user {
        margin: 0;
        padding-left: 10px
    }

    #header-compact-v3 .nav-user .avatar {
        width: 24px;
        height: 24px
    }
}

.force-mobile#header-compact-v3 .nav-user {
    margin: 0;
    padding-left: 10px
}

.force-mobile#header-compact-v3 .nav-user .avatar {
    width: 24px;
    height: 24px
}

#header-compact-v3 .login-buttons {
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 100%
}

#header-compact-v3 .login-buttons a {
    margin-left: 5px
}

#header-compact-v3 .site-nav-right li {
    display: inline-block;
    vertical-align: top
}

#header-compact-v3 .site-nav-right a {
    display: flex;
    width: 40px;
    height: 50px;
    height: var(--header-height);
    position: relative;
    justify-content: center;
    align-items: center
}

#header-compact-v3 .site-nav-right a svg {
    width: 24px;
    height: 24px;
    color: var(--blueBlack)
}

#header-compact-v3 .site-nav-right a:hover svg {
    color: var(--blueBlack110)
}

#header-compact-v3 .site-nav-right .nav-search svg {
    width: 18px;
    height: 18px
}

#header-compact-v3 .site-nav-right .nav-cart .nav-num {
    background: #389eac
}

@media (max-width: 768px) {
    #header-compact-v3 .site-nav-right a {
        width: 39px
    }
}

@media (max-width: 414px) {
    #header-compact-v3 .site-nav-right .nav-cart, #header-compact-v3 .site-nav-right .nav-noti {
        display: none
    }
}

@media (max-width: 320px) {
    #header-compact-v3 .site-nav-right .nav-bookshelf {
        display: none
    }
}

#header-compact-v3 .nav-num {
    width: 40px;
    height: 28px;
    position: absolute;
    border-radius: 28px;
    background: #fa595f;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    transform: scale(.5);
    transform-origin: top left;
    top: 8px;
    left: 50%;
    transform-origin: top left
}

#header-compact-v3 .category-container {
    overflow: hidden;
    padding: 30px 0 0
}

#header-compact-v3 .category-container .category-section {
    margin: 0 auto 30px;
    width: 1136px
}

#header-compact-v3 .category-container .category-section .kind-link:hover {
    color: #389eac
}

#header-compact-v3 .category-container h3 {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 1
}

#header-compact-v3 .category-container .btn-expand {
    display: block;
    margin-top: -13px;
    height: 30px;
    color: var(--blueBlack);
    text-align: center;
    line-height: 30px
}

#header-compact-v3 .category-container .btn-expand:hover {
    background: var(--blue10)
}

#header-compact-v3 .category-container .btn-expand .icon-arrow-right {
    vertical-align: middle;
    transform: rotate(90deg)
}

#header-compact-v3 .category-container .ebook-category-list-container {
    position: relative;
    overflow: hidden;
    height: 181px
}

#header-compact-v3 .category-container:not(.is-expanded) .ebook-category-list-container {
    height: 44px
}

#header-compact-v3 .original-category-list a {
    margin-right: 5px;
    padding: 0 14px;
    color: var(--grayBlack);
    font-size: 13px
}

#header-compact-v3 .original-category-list a:hover {
    background: #389eac;
    color: #fff
}

#header-compact-v3 .original-category-list a:hover::after {
    display: none
}

#header-compact-v3 .ebook-category-list {
    position: absolute;
    width: 100%;
    column-fill: balance;
    column-count: 2
}

#header-compact-v3 .ebook-category-list a {
    color: var(--grayBlack)
}

#header-compact-v3 .ebook-category-list a:hover {
    color: #389eac
}

#header-compact-v3 .ebook-category-list li {
    margin-bottom: 15px;
    line-height: 1
}

#header-compact-v3 .ebook-category-list .kind-l2 {
    margin-right: 20px;
    color: var(--grayBlack);
    font-weight: bold
}

#header-compact-v3 .ebook-category-list .icon-arrow-right {
    margin-left: 5px;
    vertical-align: 1px
}

#header-compact-v3 .ebook-category-list .kind-l3 {
    margin-right: 16px
}

#header-compact-v3 .search-container {
    overflow: hidden;
    padding: 30px 0
}

#header-compact-v3 .search-section {
    margin: 0 auto;
    width: 559px
}

#header-compact-v3 .search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

#header-compact-v3 .search-form input {
    flex-grow: 1;
    padding-left: 19px;
    border: none;
    box-shadow: none
}

#header-compact-v3 .search-form input::-webkit-input-placeholder {
    color: var(--gray)
}

#header-compact-v3 .search-form input::-ms-input-placeholder {
    color: var(--gray)
}

#header-compact-v3 .search-form input::placeholder {
    color: var(--gray)
}

#header-compact-v3 .search-form .btn-search {
    padding: 0 20px;
    height: 100%;
    border: none;
    background: #fff;
    color: var(--grayBlack);
    font-size: 13px
}

#header-compact-v3 .search-form .btn-search:hover {
    background: #389eac;
    color: #fff
}

#header-compact-v3 .search-suggest-list {
    margin-bottom: -18px;
    padding: 10px 0 0
}

#header-compact-v3 .search-suggest-list li {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#header-compact-v3 .search-suggest-list li.active {
    background: var(--blue10)
}

#header-compact-v3 .sub-nav-container {
    text-align: center
}

#header-compact-v3 .sub-nav-container li {
    display: inline-block;
    vertical-align: top
}

#header-compact-v3 .sub-nav-container a {
    position: relative;
    display: block;
    padding: 20px 12px;
    color: var(--grayBlack);
    line-height: 1
}

#header-compact-v3 .sub-nav-container a:hover::after {
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 1px;
    background: var(--grayBlack);
    content: '';
    text-align: center
}

.nav-drop-down-list {
    position: fixed;
    top: 50px;
    top: var(--header-height);
    right: auto;
    display: block
}

.nav-drop-down-list a, .nav-drop-down-list a:hover {
    color: var(--grayBlack);
    font-size: 12px
}

.ua-webview #header-container, .ua-iphone.ua-frodo-webview #header-container, .ua-ipad.ua-frodo-webview #header-container {
    display: none
}

@media (max-width: 300px) {
    #header-compact-v3 .nav-item-app {
        display: none !important
    }
}

[modal-opened] body {
    overflow: hidden !important;
    width: 100%;
    height: 100%
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 798;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    white-space: nowrap
}

#modal-overlay .overlay-stick, #modal-overlay .overlay-content {
    display: inline-block;
    vertical-align: middle
}

#modal-overlay .overlay-stick {
    overflow: hidden;
    margin-right: -.31em;
    width: 1px;
    height: 100%
}

#modal-overlay .overlay-content {
    position: relative;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    width: 750px;
    background: var(--white);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: left
}

#modal {
    white-space: normal
}

#modal:focus {
    outline: none
}

#modal .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    color: #389eac;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    line-height: 16px
}

#modal .modal-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1
}

#modal .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px
}

#modal .actions .btn {
    margin-left: 5px
}

.btn {
    display: inline-block;
    border: none;
    background: #389eac;
    color: var(--white-blueBlack110-pair);
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer
}

@media (hover: hover) {
    .btn:hover {
        background: #108899;
        color: var(--white-blueBlack110-pair)
    }
}

@media (hover: none) {
    .btn:active {
        background: #108899;
        color: var(--white-blueBlack110-pair)
    }
}

.btn[disabled], .btn.disabled, .btn[data-disabled] {
    background: var(--gray50);
    color: var(--gray);
    cursor: not-allowed
}

@media (hover: hover) {
    .btn[disabled]:hover, .btn.disabled:hover, .btn[data-disabled]:hover {
        background: var(--gray50);
        color: var(--gray);
        cursor: not-allowed
    }
}

@media (hover: none) {
    .btn[disabled]:active, .btn.disabled:active, .btn[data-disabled]:active {
        background: var(--gray50);
        color: var(--gray);
        cursor: not-allowed
    }
}

.btn:not([data-size]), .btn[data-size=m] {
    padding: 0 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px
}

.btn[data-size=l] {
    box-sizing: border-box;
    padding: 0 30px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px
}

.btn[data-variant=rect] {
    padding: 0 15px;
    border-radius: 4px;
    font-size: 13px
}

.btn[data-variant=rect]:not([data-size]), .btn[data-variant=rect][data-size=m], .btn[data-variant=rect][data-size=l] {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2)
}

.btn[data-variant=rect]:not([data-size])[disabled], .btn[data-variant=rect][data-size=m][disabled], .btn[data-variant=rect][data-size=l][disabled], .btn[data-variant=rect]:not([data-size]).disabled, .btn[data-variant=rect][data-size=m].disabled, .btn[data-variant=rect][data-size=l].disabled, .btn[data-variant=rect]:not([data-size])[data-disabled], .btn[data-variant=rect][data-size=m][data-disabled], .btn[data-variant=rect][data-size=l][data-disabled] {
    box-shadow: none
}

.btn[data-variant=rect][data-size=l] {
    font-size: 15px
}

.btn-hollow {
    position: relative;
    background: var(--white);
    color: #389eac
}

@media (hover: hover) {
    .btn-hollow:hover {
        background: var(--blue5);
        color: #389eac
    }

    .btn-hollow:hover[disabled], .btn-hollow:hover.disabled, .btn-hollow:hover[data-disabled] {
        background: var(--gray50);
        color: var(--gray);
        cursor: default
    }
}

@media (hover: none) {
    .btn-hollow:active {
        background: var(--blue5);
        color: #389eac
    }

    .btn-hollow:active[disabled], .btn-hollow:active.disabled, .btn-hollow:active[data-disabled] {
        background: var(--gray50);
        color: var(--gray);
        cursor: default
    }
}

.btn-hollow::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border: 1px solid var(--gray50);
    border-radius: 100px;
    content: '';
    transform: scale(.5);
    transform-origin: 0 0
}

.btn-hollow[data-variant=rect]::after {
    border-radius: 8px
}

.btn-contained {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: var(--grayBlack)
}

.btn-contained.is-active, .btn-contained[data-active] {
    background: #389eac;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    color: var(--white)
}

@media (hover: hover) {
    .btn-contained:hover {
        background: #389eac;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        color: var(--white)
    }
}

@media (hover: none) {
    .btn-contained:active {
        background: #389eac;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
        color: var(--white)
    }
}

.btn-contained[disabled], .btn-contained.disabled, .btn-contained[data-disabled] {
    background: var(--gray50);
    box-shadow: none;
    color: var(--gray)
}

@media (hover: hover) {
    .btn-contained[disabled]:hover, .btn-contained.disabled:hover, .btn-contained[data-disabled]:hover {
        background: var(--gray50);
        box-shadow: none;
        color: var(--gray)
    }
}

@media (hover: none) {
    .btn-contained[disabled]:active, .btn-contained.disabled:active, .btn-contained[data-disabled]:active {
        background: var(--gray50);
        box-shadow: none;
        color: var(--gray)
    }
}

.btn-contained[data-size=xs] {
    padding: 0 15px;
    height: 26px;
    font-size: 12px;
    line-height: 26px
}

.btn-contained[data-size=s] {
    padding: 0 14px;
    height: 30px;
    font-size: 13px;
    line-height: 30px
}

.btn-contained:not([data-size]), .btn-contained[data-size=m] {
    padding: 0 20px;
    height: 35px;
    font-size: 15px;
    line-height: 35px
}

#head-breadcrumb {
    overflow: hidden;
    margin-bottom: 0;
    height: 45px;
    background: var(--blue10);
    font-size: 12px;
    line-height: 45px
}

#head-breadcrumb .section-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 13px;
    padding-left: 13px
}

@media (min-width: 375px) and (max-width: 767px) {
    #head-breadcrumb .section-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #head-breadcrumb .section-container {
        padding-right: 25px;
        padding-left: 25px
    }
}

#head-breadcrumb .breadcrumbs .breadcrumb {
    color: #389eac
}

#head-breadcrumb .breadcrumbs .breadcrumb:hover {
    color: #108899
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange {
    color: #ff9e2c
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange:hover {
    color: #d96b57
}

#head-breadcrumb .breadcrumbs .breadcrumb.orange + .division {
    background-image: url('https://img3.doubanio.com/f/ark/3a5f9e84f4201e89a09a460cd6b59040797a49b1/pics/common/icon-arrow-right-orange.svg')
}

#head-breadcrumb .breadcrumbs .breadcrumb.black {
    color: var(--grayBlack)
}

#head-breadcrumb .breadcrumbs .breadcrumb.black:hover {
    color: var(--grayBlack110)
}

#head-breadcrumb .breadcrumbs .breadcrumb.black + .division {
    background-image: url('https://img3.doubanio.com/f/ark/b829946796aab322f1d47534ea4ba74ac318eb01/pics/common/icon-arrow-right-blueblack.svg')
}

#head-breadcrumb .breadcrumbs .breadcrumb:not(:-webkit-any-link) {
    cursor: default
}

#head-breadcrumb .breadcrumbs .breadcrumb:not(:any-link) {
    cursor: default
}

#head-breadcrumb .breadcrumbs .breadcrumb .text {
    vertical-align: middle;
    line-height: 1
}

#head-breadcrumb .breadcrumbs .division {
    width: 6px;
    height: 11px;
    display: inline-block;
    margin: 0 10px;
    background: url('https://img3.doubanio.com/f/ark/7ac55e3740e9b58fb0bfd5eb5493e8f88a235ef5/pics/common/icon-arrow-right-blue60.svg') center/contain no-repeat;
    vertical-align: middle
}

.cover {
    position: relative;
    border-radius: 4px;
    width: 110px;
    height: 165px;
    background: url('https://img3.doubanio.com/f/ark/fcf839063281097eb229b77eddfdbb03d0ec8a5e/pics/app/default-cover.png') center center/100% auto
}

.cover .cover-label::before {
    top: 23px;
    right: 23px;
    width: 131px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    transform: translate(50%, -100%) rotate(45deg) scale(.5)
}

.cover .cover-label.limited-vip-can-read-label::before {
    font-size: 20px
}

.cover a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    content: '';
    opacity: 0;
    transition: opacity .1s ease-in
}

.cover a:hover::after, .cover a:focus::after {
    opacity: .2
}

.cover img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .5s ease-in
}

.cover img.loading {
    opacity: 0
}

.cover-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none
}

.cover-label::before {
    position: absolute;
    color: #fff;
    text-align: center;
    transform-origin: bottom center
}

.cover-label.limited-vip-can-read-label::before {
    background: #d6c0a2;
    color: var(--grayBlack);
    content: '精选'
}

.cover-label.vip-can-read-label::before {
}

.cover-label.free-label::before {
    background: #3e8ef8;
    content: '免费'
}

.cover-label.sale-label::before {
    background: #fa595f;
    content: '特价'
}

.cover-label.limit-label::before {
    background: #ff9e2c;
    content: '限免'
}

.cover-label.rebate-label::before {
    background: #f9c300;
    content: '满减'
}

.cover-label.bundle-label::before {
    background: #5dcaad;
    content: '套装'
}

.shadow-cover {
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 2px #aaa
}

.mini-shadow-cover {
    box-shadow: 1px 1px 2px #bbb
}

.micro-shadow-cover {
    box-shadow: 1px 1px 2px #ccc
}

.bundle-cover-empty, .bundle-cover {
    position: relative;
    overflow: visible
}

.bundle-cover-empty:after, .bundle-cover:after {
    position: absolute;
    top: 0;
    z-index: 10;
    background-size: 100% 100% !important;
    content: ''
}

.bundle-cover-empty:after {
    width: 12.910798122065728%;
    height: 100%;
    left: 90.7%;
    background: url('https://img3.doubanio.com/f/ark/fab04bfd39d1137af4b73b819a6146f418d6511f/pics/mod/bundle-cover-empty@3x.png') no-repeat
}

.bundle-cover:after {
    width: 13.250555967383248%;
    height: 100%;
    left: 90.3%;
    background: url('https://img3.doubanio.com/f/ark/1e25b31333fae16e8eb1e07c860062312c85d89a/pics/mod/bundle-cover@3x.png') no-repeat
}

@supports ((-webkit-filter: drop-shadow(0 0 0 #000)) or (filter: drop-shadow(0 0 0 #000))) {
    .bundle-cover-empty, .bundle-cover {
        -webkit-filter: drop-shadow(1px 0 3px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(1px 0 3px rgba(0, 0, 0, 0.2));
        box-shadow: none !important
    }
}

:root {
    --page-min-width: 970px;
    --page-max-width: 1320px;
    --page-margin: 60px
}

html, body {
    min-width: 970px;
    background: var(--blue5)
}

body {
    font-size: 13px
}

ul li, ol li {
    font-size: 13px
}

.fill-current-color path, .fill-current-color circle {
    fill: currentColor
}

a {
    color: inherit;
    cursor: pointer
}

#main {
    overflow: hidden;
    min-height: calc(100vh - 90px);
    min-height: calc(100vh - var(--header-height) - var(--footer-height))
}

.section-container {
    box-sizing: content-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    max-width: 1200px
}

main.section-container {
    padding-bottom: 80px
}

.cover {
    background: var(--blue10)
}

.shadow-cover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)
}

.report-dialog, .report-result {
    min-height: 150px;
    width: 500px
}

.report-dialog .help-block span, .report-result .help-block span {
    margin-right: 5px
}

.report-dialog .tip-type li, .report-result .tip-type li {
    margin: 10px 10px 10px 20px
}

.report-dialog .tip-type label, .report-result .tip-type label {
    cursor: pointer
}

.report-dialog .tip-type input, .report-result .tip-type input {
    margin-right: 10px
}