# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\work_space\java_work\EBook_BBS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
